.vacancies-section {
	padding: 50px 0;
	background-color: #f8f8f8;
	text-align: center;
}

.vacancies-section h2 {
	margin-bottom: 40px; /* Отступ снизу под заголовком */
	font-size: 2rem;
	font-weight: bold;
	color: #333;
}

.vacancies-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-between;
}

.vacancy-card {
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 8px;
	width: calc(33% - 20px);
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s;
}

.vacancy-card:hover {
	transform: scale(1.05);
}

.vacancy-card h3 {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.vacancy-card p {
	font-size: 1rem;
	color: #555;
}

.vacancy-card .salary {
	font-size: 1.2rem;
	color: green;
	font-weight: bold;
}

.vacancy-card .location {
	font-size: 1rem;
	color: #777;
}

.vacancy-card .button {
	background-color: #007bff;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	margin-top: 15px;
}

.vacancy-card .button:hover {
	background-color: #0056b3;
}
